<html>
    <head>
        <title>Holmes 404</title>
    </head>
    <body>

    	<h1>
			 Please tell your measurements in inches
		</h1>
        <form action="/calculate" method="POST">
			<div>
  				<label for="Shoulder">Shoulder/Bust:</label>
				<input type="number" id="Shoulder" name="shoulder">
			</div>
			<div>
  				<label for="Hips">Hips:</label>
				<input type="number" id="Hips" name="hips">
			</div>
			<div>
  				<label for="Waist">Waist:</label>
				<input type="number" id="Waist" name="waist">
			</div>
			<input type="submit" value="Submit">
		</form>
		
		<a href="/qa">back</a>
	</body>
</html>